*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    background: rgb(168, 224, 238);
}

.central {
    display: flex;
    flex-wrap: wrap;
}

.menu_lateral {
    position: relative;
    height: 800px;
    background: rgb(46, 48, 47);
    width: 70px;
    box-shadow: 10px 0 0 rgb(2, 115, 243);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu_lateral ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
    border-left: 10px 0 0 #000;
}

.menu_lateral:hover {
    width: 220px;
}

.menu_lateral ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.menu_lateral ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}


.menu_lateral ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.menu_lateral ul li a .icon ion-icon {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.menu_lateral ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.menu_lateral ul li.active {
    background: rgb(11, 146, 224);
}

.menu_lateral ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(46, 48, 47);
    border-radius: 50%;
    box-shadow: 15px 15px 0 rgb(11, 146, 224);
}

.menu_lateral ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgb(46, 48, 47);
    border-radius: 50%;
    box-shadow: 15px -15px 0 rgb(11, 146, 224);
}

.parte_superior {
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}

.texto1 {
    position: relative;
    margin-bottom: auto;
}
