.coluna_inicial {
    display: flex;
    position: relative;
    border: 30px solid blue;border-radius: 20px;
}

.titulo {
    margin-right: auto;
    padding-left: 10px;
}

.logo_usuario {
    padding-right: 10px;
}

.colunas_clientes {
    color: red;
    padding-top: 30px;
    padding-left: 100px;
}

.text_cliente1 {
    color: blue;
    border: 10px;
}

.text_cliente2 {
    color: green;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 100px;
  }
